################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataModel/obj/Debug/netstandard2.1
/DataModel/obj
/DeviceViewer/ClientApp/package-lock.json
/DataModel/bin/Debug/netstandard2.1
/Data.Interfaces/bin/Debug/netstandard2.1
/Data.Interfaces/obj
/Data.Repository.Mongo/bin/Debug/netstandard2.1/Data.Interfaces.dll
/Data.Repository.Mongo/bin/Debug/netstandard2.1/Data.Interfaces.pdb
/Data.Repository.Mongo/bin/Debug/netstandard2.1/Data.Model.dll
/Data.Repository.Mongo/bin/Debug/netstandard2.1/Data.Model.pdb
/Data.Repository.Mongo/bin/Debug/netstandard2.1/Data.Repository.Mongo.deps.json
/Data.Repository.Mongo/bin/Debug/netstandard2.1/Data.Repository.Mongo.dll
/Data.Repository.Mongo/bin/Debug/netstandard2.1/Data.Repository.Mongo.pdb
/Data.Repository.Mongo/obj/Data.Repository.Mongo.csproj.nuget.dgspec.json
/Data.Repository.Mongo/obj/Data.Repository.Mongo.csproj.nuget.g.props
/Data.Repository.Mongo/obj/Data.Repository.Mongo.csproj.nuget.g.targets
/Data.Repository.Mongo/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/Data.Repository.Mongo/obj/Debug/netstandard2.1/Data.Repository.Mongo.AssemblyInfo.cs
/Data.Repository.Mongo/obj/Debug/netstandard2.1/Data.Repository.Mongo.AssemblyInfoInputs.cache
/Data.Repository.Mongo/obj/Debug/netstandard2.1/Data.Repository.Mongo.GeneratedMSBuildEditorConfig.editorconfig
/Data.Repository.Mongo/obj/Debug/netstandard2.1/Data.Repository.Mongo.assets.cache
/Data.Repository.Mongo/obj/Debug/netstandard2.1/Data.Repository.Mongo.csproj.AssemblyReference.cache
/Data.Repository.Mongo/obj/Debug/netstandard2.1/Data.Repository.Mongo.csproj.CopyComplete
/Data.Repository.Mongo/obj/Debug/netstandard2.1/Data.Repository.Mongo.csproj.CoreCompileInputs.cache
/Data.Repository.Mongo/obj/Debug/netstandard2.1/Data.Repository.Mongo.csproj.FileListAbsolute.txt
/Data.Repository.Mongo/obj/Debug/netstandard2.1/Data.Repository.Mongo.dll
/Data.Repository.Mongo/obj/Debug/netstandard2.1/Data.Repository.Mongo.pdb
/Data.Repository.Mongo/obj/project.assets.json
/Data.Repository.Mongo/obj/project.nuget.cache
