################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataModel/obj/Debug/netstandard2.1
/DataModel/obj
/DeviceViewer/ClientApp/package-lock.json
